@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie Entered or Deleted ";

}

@model Assignment3Final.Models.Movie;

<div>
    <p>@ViewBag.Phrase</p>
    <h3>Your movie has been Added or Deleted from the table</h3>
</div>

<div>
    <a asp-action="MovieList">Click here to see the entire list</a>
</div>
