@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="align-content-center text-center">
    <h3 class="card-title text-center">Would you like to enter a Movie into the database?</h3>
    <br />
    <a asp-action="EnterMovie">Enter a Movie into the database</a>
    <br />

    <img src="~/JoelHilton.jpg" />
</div>

