@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <p>Would you like to enter a Movie into the database?</p>
    <br />
    <a asp-action="EnterMovie">Enter a Movie into the database</a>
    <br />

    <img src="~/JoelHilton.jpg" />
</div>

